<!DOCTYPE html>
<html lang="en">

    <head>
        {{> meta}}
    </head>

    <body style="background-color: #e8eaf6">
        {{> bg}}

        {{> header}}

        {{{body}}}

        {{> footer}}
    </body>


</html>