<div class="card">
    <div class="card-body">
        <ul>
            {{#each items }}
                <li id="{{ this._id }}">{{ this.name }} - {{ this.description }}</li>
            {{/each}}
        </ul>
    </div>
</div>