<!-- COMMON TAGS -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Digital Pasar Atas</title>
<!-- Search Engine -->
<meta name="description" content="Digital - Pasar Atas - Jl. Dewi Sartika Lantai 2" />
<meta name="image" content="https://digital.adaptable.app/img/apple-touch-icon.png" />
<!-- Schema.org for Google -->
<meta itemprop="name" content="Digital Pasar Atas" />
<meta itemprop="description" content="Digital - Pasar Atas - Jl. Dewi Sartika Lantai 2" />
<meta itemprop="image" content="https://digital.adaptable.app/img/apple-touch-icon.png" />
<!-- Open Graph general (Facebook, Pinterest & LinkedIn) -->
<meta property="og:title" content="Digital Pasar Atas" />
<meta property="og:description" content="Digital - Pasar Atas - Jl. Dewi Sartika Lantai 2" />
<meta property="og:image" content="https://digital.adaptable.app/img/apple-touch-icon.png" />
<meta property="og:url" content="https://digital.adaptable.app/" />
<meta property="og:site_name" content="Digital Pasar Atas" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:title" content="Digital Pasar Atas" />
<meta property="twitter:description" content="Digital - Pasar Atas - Jl. Dewi Sartika Lantai 2" />
<meta property="twitter:image:src" content="https://digital.adaptable.app/img/apple-touch-icon.png" />

<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
<link rel="manifest" href="/img/site.webmanifest" />

<link rel="stylesheet" href="/css/all.min.css">
<link rel="stylesheet" href="/css/core.min.css">
<link rel="stylesheet" href="/css/background.min.css">